@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Oleo+Script|Work+Sans:400,800&display=swap');

body {
  font-family: Work Sans, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

/* :focus {
  outline-color: black;
} */

p {
  font-family: EB Garamond, serif;
}

a, a:hover {
  text-decoration: none;
	color: #333333;
}

a:hover {
  color: #666666;
}

button {
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.navbar-brand {
  font-family: Oleo Script;
  font-weight: 400px;
  float:none;
}

#sidebar-wrapper {

  min-height: 100vh;
  margin-left: -20rem;

  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .list-group {
  width: 20rem;
}

#page-content {
  min-width: 100vw;
}

.sidebar-link {
  font-family: Work Sans;
  font-weight: 800;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.list-group-item {
  border: none;
}
